extends layout

block title
  title Друзья пользователя

block content
  h1.mb-4 Друзья пользователя
  .d-flex.mb-4
    button#newsBtn.btn.btn-info.me-2 Новости друзей
    button#backBtn.btn.btn-secondary Назад
  #friendsContainer.row

block templates
  template#friendCardTemplate
    .col-md-4.mb-3
      .card.p-3.text-center
        h5.friend-name.mb-1

block scripts
  script(src="js/friends.js")

