<h2>Домашняя страница</h2>
<div *ngIf="isLogin; else notLoggedIn">
    <p>Добрый день, {{ user?.firstName }}</p><br>
    <div *ngIf="hasPhoto; else noPhoto">
        <img [src]="photoUrl" alt="Фото пользователя" style="max-width: 200px; max-height: 200px;">
    </div>
    <ng-template #noPhoto>
        <form (ngSubmit)="onSubmit()">
            <p>Добавить фото</p>
            <input type="file" name="fileUpload" (change)="onFileSelected($event)" accept="image/*"><br>
            <input type="submit" value="Загрузить фото">
        </form>
    </ng-template>
    <hr>
    <button id="friends" (click)="toListFriends()">Перейти к друзьям</button><br>
    <button id="findFriends" (click)="toFindFriends()">Найти новых друзей</button><br>
    <button id="messages" (click)="toListMessages()">Перейти к новостям</button><br>
    <div *ngIf="isAdmin; else noAdmin">
        <button id="admin" (click)="admin()">Перейти в админку</button>
    </div>
    <ng-template #noAdmin>
    </ng-template>
</div>

<ng-template #notLoggedIn>
    <p>Вы не вошли в систему</p>
    <button id="registration" (click)="registrationUser()">Зарегестрироваться</button>
    <button id="login" (click)="loginUser()">Войти</button>
</ng-template>