<form [formGroup]="registForm" (ngSubmit)="onSubmit()" class="login-form">
    <label for="email">
        Email:
    </label>
    <input type="email" id="email" name="email" 
        placeholder="Enter your email" formControlName="email" required><br>

    <label for="lastName">
        Фамилия:
    </label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName" required><br>

    <label for="firstName">
        Имя:
    </label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName" required><br>

    <label for="middleName">
        Отчество:
    </label>
    <input type="text" id="middleName" name="middleName" formControlName="middleName" required><br>

    <label for="birthday">
        Дата рождения:
    </label>
    <input type="date" id="birthday" name="birthday" formControlName="birthday" required><br>

    <button type="submit" [disabled]="registForm.invalid">Submit</button>
</form><br>
<hr>
<button id="goHome" (click)="goHome()">Вернуться домой</button>
