<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <label for="email">
        Email:
    </label>
    <input type="email" id="email" name="email" 
        placeholder="Enter your email" formControlName="email" required>
    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
</form><br>
<hr>
<button id="goHome" (click)="goHome()">Вернуться домой</button>
<div *ngIf="isError; else notError">
    Не удалось войти
</div>
<ng-template #notError>
</ng-template>